@import '../../style/variables.scss';

.card {
  @include clickableComponentWithShadow;
  height: 270px;
  width: 360px;
  margin: 10px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: $borderGray;

  .header {
    background-color: white;
    flex: 1;
    padding: 15px 12px 0;
  }

  .details {
    flex: 1;
    background-color: white;
    padding: 0 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .lineOne {
      display: flex;
      justify-content: space-between;
    }

    .lineThree {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  p {
    margin: 0;
  }
}