.app {
  margin: 25px;

  .contentContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  h2 {
    margin: 0;
  }

  h3 {
    margin: 0;
    font-size: 1em;
  }
}
